body {
	background-color: #F5F5FA;
	margin: 120px;
	margin-top: 20px;
	color: #09090E;
	font-family: Fahkwang;
	font-size: 21px;

}

li{
	display: inline;
      list-style: none;
      margin-right: 0;
}

.logo{
	position: absolute;
	width: 64.98px;
	height: 57.62px;
	left: 120px;
	top: 20px;
}

.contact{
	position: absolute;
	width: 73px;
	height: 23px;
	left: 1247px;
	top: 37px;

	font-family: Fahkwang;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
}

.resume{
	position: absolute;
	width: 75px;
	height: 23px;
	left: 1152px;
	top: 37px;

	font-family: Fahkwang;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
}

.about{
	position: absolute;
	width: 56px;
	height: 23px;
	left: 1076px;
	top: 37px;

	font-family: Fahkwang;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
}
.box{
 	position: absolute;
  width: 639px;
  height: 215px;
  left: 681px;
	top: 350px;

 }

.pics{
	position: absolute;
  width: 440.88px;
  height: 623px;
  left: 120.06px;
  top: 146px;
 	background: #121212;
  box-shadow: 0px 37.9415px 53.1181px -22.7649px rgba(0, 0, 0, 0.2);
  border-radius: 7.58831px;
 }

h1{
	font-size: 40px;
	color: #09090E;
}
.rahim {
	margin-left: 0;
}
.scroll{
	position: absolute;
	width: 95px;
	height: 69px;
	left: 672px;
	top: 869px;

	font-family: Fahkwang;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	/* identical to box height */

	text-align: center;

}
